.dashboard {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.header-kanban {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.column-kanban {
  background: #e2e4e6;
  padding: 10px;
  width: 250px;
  min-height: 500px;
  border-radius: 8px;
  max-height: 70vh;
  overflow-y: auto;

  scrollbar-width: thin; /* "auto" ou "thin" */
  scrollbar-color: black black; /* Cor da alça e da trilha */
}
/* ARRUMAR ESSA PARTE */
.column-kanban::-webkit-scrollbar {
  width: 10px; /* Largura da scrollbar */
}

.column-kanban::-webkit-scrollbar-track {
  background: black; /* Cor do fundo da trilha */
  border-radius: 8px;
}

.column-kanban::-webkit-scrollbar-thumb {
  background-color: black; /* Cor da "alça" da barra de rolagem */
  border-radius: 8px;
  border: 2px solid black; /* Espaço entre a alça e a trilha */
}

.column-kanban::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

/* ------------------- */

.title-kanban {
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
}

.name-contact {
  display: block;
  margin-bottom: 5px;
}
.number-contact {
  display: block;
  margin-top: 5px;
}
